footer i {
  color: #fff;
  font-size: 15px;
}

button {
  color: #fff;
  background-color: #ff5100;
  border: #ff5100 1px solid;
}

button:hover {
  border-radius: 50% #ff5100;
  background-color: #ff5100;
  border: #ff5100 1px solid;
}

button:hover > i {
  color: #d3d3d3;
}

button:hover > a {
  color: #d3d3d3;
}

button:active {
  border-radius: none;
}

a {
  text-decoration: none;
  color: #fff;
}

li > a:hover {
  color: #d3d3d3;
}

footer {
  color: #fff;
  background-color: #0d1319;
}

.img-fluid {
  width: 15%;
  padding-bottom: 15px;
}

li {
  list-style: none;
}
